html
    head
        title= title
        link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
        link(rel='stylesheet', href='/public/css/style.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/public/js/scripts.js')
    body
        div.container
            div.header.clearfix
                h3.text-muted Fullstack Challenge
            div.row
                div.col-lg-8.col-lg-offset-2
                    div.alert.text-center
                        p
                    form(name="check-word", method="post")
                        div.form-group
                            label.control-label Test a word
                            input.form-control(type="text", name="word")
                        button.btn.btn-default.submit(type="button") Check